.header__hero__title{
    color: #FFF;
    font-family: 'Inter';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 120px */
    letter-spacing: -1.52px;
    padding-top: 130px;
    max-width: 712px;
    width: 100%;
}
.header__hero{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 35px;
}
.header__hero__btn{
padding: 21px 19px;
color: #FFF;
font-family: 'Inter';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
border-radius: 10px;
border: 2px solid #FFF;
background: rgba(217, 217, 217, 0.00);
}
.header__hero__gift{
display: flex;
justify-content: center;
gap: 25px;
}
.header__hero__gift>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
    max-width: 150px;
    width: 100%;
}
.header__hero__bottom{
border-radius: 10px;
background: #0E0E0E;
padding: 10px;
margin-top: 148px;

}
.header__hero__bottom-box{
display: flex;
gap: 40px;
justify-content: center;
padding: 44px 87px 34px 110px;

}
.header__hero__bottom-box :last-child{
border: none;
}
.header__hero__bottom-box__item{
list-style: none;
border-right: 2px solid #FD0000;
}
.header__hero__bottom-box__item>span{
    color: #FD0000;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 90px */
    letter-spacing: -1.14px;
}

.header__hero__bottom-box__item>p{
    color: #CFCDCD;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
    max-width: 248px;
    width: 100%;
}

.who__title{
    color: #FFF;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 90px */
    letter-spacing: -1.14px;
    max-width: 745px;
    width: 100%;
    margin-top: 128px;
}
.who__cards{
    display: flex;
    gap: 24px;
    margin-top: 112px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.who__cards__item{
    padding:0px 24px 14px 18px  ;

    border-radius: 8px;
    background-image: url('../../imgs/backHero.png');
    background-repeat: no-repeat;

}
.who__cards__item>img{
width: 190px;
}
.who__cards__item>h4{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
    max-width: 262px;
    width: 100%;
    margin-top: 32px;
}
.who__cards__item>ul>li{
    color: #A09E9E;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
    margin-top: 16px;
    max-width: 247px;
    width: 100%;
}

.about__box__logo>img{
max-width: 200px;
width: 100%;
height: 200px;
}

.about>h2{
    color: #FFF;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.66px;
    max-width: 621px;
    width: 100%;
    margin-top: 96px;
}
.about__box__img{
display: flex;
gap: 10px;
align-items: center;
}
.about{
max-width: 1047px;
width: 100%;
padding: 0 15px;
margin: 0 auto;
}
.about__box__img>p{
max-width: 344px;
width: 100%;
color: #FFF;
font-family: 'Inter';
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 37.5px */
letter-spacing: -0.275px;
}
.about__box__info>p{
    color: #A09E9E;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 22.5px */
    letter-spacing: -0.165px;
    max-width: 448px;
    width: 100%;
}
.about__box__info{
display: flex;
justify-content: space-between;
gap: 30px;
margin-top: 40px;
}
.about__box{
padding: 16px;
border-radius: 10px;
margin-top: 22px;
}
.about__btn{
    padding: 21px 19px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 14px;

}
.about__btn__box{
margin-top: 17px;
}
.services__title{
    color: #FFF;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -1.14px;
    max-width: 890px;
    width: 100%;
    margin-top: 172px;
}
.services__cards__item{
display: flex;
flex-direction: column;
align-items: center;
}
.services__cards__item--img{
padding: 15px 25px;
border-radius: 10px;
background: #242424;
}
.services__cards__item>h4{
    color: #FFF;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 90px */
    letter-spacing: -0.66px;
}
.services__cards__item>p{
    color: #A09E9E;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
    max-width: 216px;
    width: 100%;
}
.services__cards{
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
gap: 36px;
}
.shop__carusel__cards{
display: flex;
justify-content: space-between;
gap: 10px;
}
.shop__carusel__cards__item--back{
background-image: url('../../imgs/husan.png');
}
.shop__carusel__cards__item{
max-width: 350px;
width: 100%;
height: 500px;
background-image: url('../../imgs/card.png');
border-radius: 8px;
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 11px;
padding-bottom: 40px;
padding-left: 15px;

}
.shop__carusel__cards__item>h4{
    color: #FFF;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    letter-spacing: -0.33px;
}
.shop__carusel__cards__item>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
}
.shop__title{
    color: #FFF;
    font-family: 'Inter';
    text-align: center;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -1.14px;
    max-width: 890px;
    width: 100%;
    margin: 192px auto;
}
.shop__carusel__vektor{
display: flex;
justify-content: right;
gap: 59px;
margin-top: 53px;
}

.biznes>p{
    color: #A09E9E;
    text-align: center;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
    max-width: 620px;
    width: 100%;
    margin: 0 auto;
}
.biznes__title{
    color: #FFF;
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -1.14px;
    max-width: 811px;
    width: 100%;
    margin: 0 auto;
}
.biznes__cards{
display: flex;
flex-direction: column;
align-items: center;
gap: 18px;
margin-top: 86px;
}
.biznes__cards__item{
display: flex;
padding:19px 21px;
background-color: #1E1E1E;
max-width: 800px;
width: 100%;
justify-content: space-between;
align-items: center;
border-radius: 8px;
}
.biznes__cards__item>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 45px */
    letter-spacing: -0.57px;
}
.biznes__cards__item>div{
width: 50px;
height: 50px;
border-radius: 50%;
background-color: #E44752;
display: flex;
justify-content: center;
align-items: center;
font-family: 'Inter';
font-size: 45px;
font-style: normal;
font-weight: 500;
}
.biznes__box{
  display: flex;
  justify-content: center;
  align-items: center;
min-width: 550px;
width: 100%;
height: 550px;
background-image: url('../../imgs/Ellipse.png');
background-repeat: no-repeat;margin:0 auto;
}
.biznes__box__img{
    max-width: 420px;
    width: 100%;
    height: 420px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-image: url('../../imgs/logoBack.png');
background-repeat: no-repeat;

}
.biznes__box__img>p{
max-width: 244px;
width: 100%;
color: #FFF;
font-family: 'Inter';
font-size: 29px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.biznes__bottom--gift{
display: flex;
gap: 14px;
margin-top: 20px;

}
.biznes__bottom--gift>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 18px */
    letter-spacing: -0.132px;
width: 150px;
}
.biznes__bottom{
display: flex;
margin-top: 118px;
justify-content: space-between;
}

.biznes__bottom :first-child{
display: flex;
flex-direction: column;
align-items: center;
}
.biznes__bottom__info>h4{
max-width: 558px;
width: 100%;
color: #FFF;
font-family: 'Inter';
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 45px */
letter-spacing: -0.57px;
}
.biznes__bottom__info__text>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    letter-spacing: -0.342px;
    max-width: 460px;
    width: 100%;
    margin-top: 27px;
}
.biznes__bottom__info__text{
display: flex;
align-items: center;
gap: 22px;
}
.biznes__bottom__info :nth-child(2){
  margin-top: 52px;
}
.comments>h2{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 90px */
    letter-spacing: -1.14px;
    max-width: 811px;
    width: 100%;
    margin-top: 139px;

}

.comments__cards__img{

}
.comments__cards__item>h4{
    color: #FFF;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 45px */
    letter-spacing: -0.33px;
}
.comments__cards__item>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
}
.comments__cards__info{
display: flex;
justify-content: space-between;
border-top: 3px solid #E44752;
border-radius: 6px;
max-width: 306px;
width: 100%;
padding: 5px;
}
.comments__cards__info :first-child>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.198px;
    border-right: 3px solid #E44752;
    padding-right: 97px;
}
.comments__cards__info :last-child>p{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 150%; /* 22.5px */
    letter-spacing: -0.165px;
}
.comments__cards__item{
margin-top: 25px;
border-radius: 15px;
background: #242424;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 7px;
}
.comments__cards{
display: grid;
grid-template-rows: auto auto auto;
grid-template-columns: 350px 350px 350px;
gap: 0 56px;
}

.comments__bottom>h2{
    color: #1E1E1E;
    font-family: 'Inter';
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 37.5px */
    letter-spacing: -0.475px;
    margin: 0 auto;
    text-align: center;
}
.helper>h2{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 90px */
    letter-spacing: -1.14px;
    text-align: center;
    margin: 75px auto;
}


.helper__cards{
display: flex;
flex-wrap: wrap;
gap: 38px;
justify-content: center;
}
.aksiya__cards__item{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.aksiya__cards__item>span{
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 125px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 187.5px */
    letter-spacing: -2.375px;
}
.aksiya__cards__item>p{
    color: #FD0000;
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 60px */
    letter-spacing: -0.76px;
}
.aksiya__cards{
border: 4px solid #1E1E1E ;
border-radius: 6px;
display: flex;
justify-content: space-around;
padding: 13px 0;
margin-top: 108px;
}
.aksiya>h2{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 90px */
    letter-spacing: -1.14px;
    margin: 231px auto;
    max-width: 988px;
    width: 100%;
}
.aksiya>p{
    color: #A09E9E;
    text-align: center;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 60px */
    letter-spacing: -0.76px;
}


.aksiya__bottom{
display: flex;
padding-bottom: 129px;
margin-top: 20px;
}
.aksiya__title{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 90px */
    letter-spacing: -1.14px;
    margin-top: 124px;
}
.aksiya__bottom__info>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 52.5px */
    letter-spacing: -0.665px;
    max-width: 651px;
    width: 100%;
}
.aksiya__bottom__info>ul>li{
    color: #A09E9E;
    font-family: 'Inter';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 45px */
    letter-spacing: -0.57px;
    list-style: none;
    display: flex;
    gap: 27px;
    margin-top: 29px;
}
.aksiya__bottom__info>ul>li>div{
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
background-color: #E44752;
color: #0E0E0E;
}
.aksiya__bottom__info>ul{
margin-top: 10px;
}
@media screen and (max-width: 451px) {
    .biznes__bottom {

        flex-direction: column;
        align-items: center;
    }
}