.services__cards__item>input{
display: none;
}
.services__cards__item{
padding: 20px 0;
border-radius: 10px;
}
.collapse__text{
display: none;
background: #6289FF;
color: #fff;
padding: 8px;
border-radius: 8px;
}
.services__cards{
max-width: 1180px;
width: 100%;
margin: 0 auto;
padding: 0 15px;
}
#check:checked ~ .collapse__text{
display: block;
}
#check1:checked ~ .collapse__text{
    display: block;
    }
    #check2:checked ~ .collapse__text{
        display: block;
        }
        #check3:checked ~ .collapse__text{
            display: block;
            }

.services__cards__item:hover {
background-color: #1551FF;
}

.services__cards__item:hover label{
    color: #fff;
    border: #fff solid;
    }

    .services__cards__item:hover >  h4{
        color: #fff;
    }
    .services__cards__item:hover > p{
        color: #E9E9E9;
    }
    .services__cards__item:hover > .services__cards__item--img{
    background-color: #fff;
    }
    .services__back{
        max-width: 1324px;
        margin: 0 auto;
     width: 100%;
        min-height: 1186px;
        height: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-image: url('../../imgs/settingsBack.png');
    }
    .services__title {
        color: #FFF;
        font-family: 'Inter';
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -1.14px;
        max-width: 925px;
        width: 100%;
        margin-top: 172px;
    }
    
    .services__cards__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .services__cards__item--img {
        padding: 15px 25px;
        border-radius: 10px;
        background: #D1DDFF;
    }
    
    .services__cards__item>h4 {
        color: #0538D0;
        font-family: 'Inter';
        font-size: 55px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.66px;
        margin-top: 15px;
    }
    
    .services__cards__item>p {
        color: #333;
        text-align: center;
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        /* 30px */
        letter-spacing: -0.22px;
        max-width: 275px;
        width: 100%;
        margin-top: 15px;
    }
    
    .collapse__text {
        color: #333;
        font-family: 'Inter';
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        max-width: 450px;
        width: 100%;
    }
    
    .services__cards__item>label {
        color: #1551FF;
        text-align: center;
        font-family: 'Inter';
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.242px;
        padding: 5px 28px 7px 28px;
        border-radius: 5px;
        border: 1px solid #1551FF;
        background: rgba(217, 217, 217, 0.00);
        text-decoration: none;
        margin-top: 25px;
    }
    
    .services__cards {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 76px 36px;
        margin-top: 98px;
    }
    
    /* services media */
    
    @media screen and (max-width:917px) {
        .services__title {
            font-size: 55px;
        }
    }
    
    @media screen and (max-width:838px) {
        .services__title {
            font-size: 51px;
        }
    }
    
    @media screen and (max-width:778px) {
        .services__title {
            font-size: 47px;
        }
    }
    
    @media screen and (max-width:720px) {
        .services__title {
            font-size: 43px;
        }
    }
    
    @media screen and (max-width:697px) {
        .services__cards {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            gap: 36px;
        }
    }
    
    @media screen and (max-width:655px) {
        .services__title {
            font-size: 36px;
        }
    }
    
    @media screen and (max-width:546px) {
        .services__title {
            font-size: 31px;
        }
    }
    
    @media screen and (max-width:470px) {
        .services__title {
            font-size: 26px;
        }
    }
    
    @media screen and (max-width:401px) {
        .services__cards__item>h4 {
    
            font-size: 45px;
    
        }
    }
    
    @media screen and (max-width:697px) {
    .services__back{
    background-image: none;
    background-color: #fff;
    }
    
    }