.services__cards__item>input{
display: none;
}
.services__cards__item{
padding: 20px 0;
border-radius: 10px;
}
.collapse__text{
display: none;
background: #6289FF;
color: #fff;
padding: 8px;
border-radius: 8px;
}
.services__cards{
max-width: 1180px;
width: 100%;
margin: 0 auto;
padding: 0 15px;
}
#check:checked ~ .collapse__text{
display: block;
}
#check1:checked ~ .collapse__text{
    display: block;
    }
    #check2:checked ~ .collapse__text{
        display: block;
        }
        #check3:checked ~ .collapse__text{
            display: block;
            }

.services__cards__item:hover {
background-color: #1551FF;
}

.services__cards__item:hover label{
    color: #fff;
    border: #fff solid;
    }

    .services__cards__item:hover >  h4{
        color: #fff;
    }
    .services__cards__item:hover > p{
        color: #E9E9E9;
    }
    .services__cards__item:hover > .services__cards__item--img{
    background-color: #fff;
    }
    .services__back{
        max-width: 1324px;
        margin: 0 auto;
     width: 100%;
        min-height: 1186px;
        height: 100%;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-image: url('../../imgs/settingsBack.png');
    }