.footer__tel>p{
    color: #1E1E1E;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 15px */
    letter-spacing: -0.11px;
}
.footer__location>div>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__location{
display: flex;
}
.footer{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
border-top: 2px solid #FD0000;
margin-top: 30px;
padding-top: 20px;
flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .footer{
    flex-direction: column;
    gap: 50px;
    }
}