.footer__tel>p{
    color: #1E1E1E;
    font-family: 'Inter';
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 15px */
    letter-spacing: -0.11px;
}
.footer__location>div>p{
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__location>img{
width: 40px;
height: 40px;
}
.footer__location>div{
max-width: 190px;
width: 100%;
}
.footer__location{
display: flex;
gap: 40px;
}
.footer{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
border-top: 2px solid #FFF;
margin-top: 30px;
padding-top: 20px;
flex-wrap: wrap;
}
.creator{
display: flex;
background-color: #6188FF;
gap: 15px;
align-items: center;
padding-left: 10px;
border-radius: 10px;
padding: 7px 10px;
}
.creator>p{
    color: #FFF;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.creator>img{
width: 53px;
height: 50px;
}
.nav-logo>a>img{
width: 107px;
height: 100px;
}
.creator__text{
max-width: 280px;
width: 100%;
text-align: center;
}
.creator__text>p{
    color: #FFF;
    font-family: sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width:768px) {
    .footer{
    flex-direction: column;
    gap: 50px;
    }
}