*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: #000F3D;
}
span{
  color: #000F3D;
}
::-webkit-scrollbar{
  display: none;
  }