*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background: #B2C6FF;
}
span{
  color: #000F3D;
}